:root {
  /* Palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --muted: #a6adc8;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  --bg-body: var(--base);
  --bg-nav: var(--crust);
  --bg-code: var(--crust);
  --bg-quote: var(--mantle);
  --bg-surface: var(--surface0);
  --bg-mantle: var(--mantle);

  /* Abstractions */
  --accent: var(--mauve);
  --accent-hover: var(--lavender);
  --link: var(--blue);
  --link-hover: var(--teal);
  --text: var(--rosewater);
  --border: var(--accent);

  --astro-code-background: var(--crust);
  --astro-code-foreground: var(--rosewater);
  --astro-code-token-comment: var(--muted);
  --astro-code-token-constant: var(--maroon);
  --astro-code-token-function: var(--accent);
  --astro-code-token-keyword: var(--blue);
  --astro-code-token-parameter: var(--red);
  --astro-code-token-string-expression: var(--green);
}

@font-face {
  font-family: "Iosev-Slab";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaSlab-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Slab";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaSlab-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Slab";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaSlab-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Slab";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaSlab-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Slab";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaSlab-BoldOblique.woff2")
    format("woff2");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Iosev-Term";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaTermSlab-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Term";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaTermSlab-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Term";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaTermSlab-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Term";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaTermSlab-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosev-Term";
  src: url("/blog/fonts/iosevka-slab/WOFF2/IosevkaTermSlab-BoldOblique.woff2")
    format("woff2");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Iosev-Slab";
  line-height: 1.5;
  color: var(--text);
  background: var(--bg-mantle);
  min-height: 100vh;
  padding: 2rem 1rem;
}

a {
  color: var(--link);
  font-weight: 700;
}
a:hover {
  color: var(--link-hover);
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--accent);
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}
