---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description ?? 'Blog'} />
    <link rel="icon" type="image/svg+xml" href="/blog/favicon.svg" />
  </head>
  <body>

    <div class="nav-bar">
      <nav>
        <a href="/blog/socials/">Socials</a>
        <a href="https://github.com/Khitboksy">Github</a>
        <a href="/blog/">Home</a>
        <a href="/blog/posts/">Rants</a>
        <a href="/blog/projects/">Projects</a>
      </nav>
    </div>

    <div class="content-box">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
