---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description ?? 'Blog'} />
    <link rel="icon" type="image/svg+xml" href="/blog/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/iosevka-slab@5/index.css" />
  </head>
  <body>

    <div class="nav-bar">
      <nav>
        <a href="https://github.com/Khitboksy">
          <img class="nav-icon" src="/blog/icons/github.svg" width="18" height="18" alt="">
          Github
        </a>
        <a href="/blog/projects/">
          <img class="nav-icon" src="/blog/icons/projects.svg" width="18" height="18" alt="">
          Projects
        </a>
        <a href="/blog/">
          <img class="nav-icon" src="/blog/icons/home.svg" width="30" height="30" alt="Home">
        </a>
        <a href="/blog/posts/">
          Rants
          <img class="nav-icon" src="/blog/icons/rants.svg" width="18" height="18" alt="">
        </a>
        <a href="/blog/socials/">
          Socials
          <img class="nav-icon" src="/blog/icons/socials.svg" width="18" height="18" alt="">
        </a>
      </nav>
    </div>

    <div class="content-box">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
